__pycache__/
*.py[cod]
*$py.class

.Python
env/
venv/
ENV/
*.egg-info/
.installed.cfg
*.egg

/dist/
/build/

.env
.venv
venv
env
py310_venv

*.coverage
.cache
nosetests.xml
coverage.xml
*.log
*.csv
*.json
*.pkl
*.pth

ml-agents/

New 3D Ball/
/Library
/Temp
/Obj
/ProjectSettings/ProjectVersion.txt
/UserSettings
ml-agents/
py310_venv/